* {

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
    // font-size: 10px;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;

    overscroll-behavior: none;
}

.app {

    display: block;

    width: 100%;
    height: 100%;

    touch-action: none;

    svg {
        width: 100%;
        height: 100%;
    }
}

@mixin no-select {

    pointer-events: none;
        cursor: default;

        -webkit-touch-callout: none;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
}