<!doctype html>

<html>
    <head>

        <link rel="icon" type="image/png" href="img/icon.png">

        <base href="/">
        <link rel="stylesheet" href="critical.css" inline>

        <!--[htmlclean-protect]--><!--inject:css--><!--endinject--><!--[/htmlclean-protect]-->

    </head>
    <body>

        <img src="svg/icons.svg" inline>

        <div id="app" class="app">
            <div class="background"></div>
        </div>

        <!--[htmlclean-protect]--><!--inject:js--><!--endinject--><!--[/htmlclean-protect]-->

    </body>
</html>